<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113912878363-j4uc0lofcts6f2nqf1778bvo4bbc3cpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113912878363-j4uc0lofcts6f2nqf1778bvo4bbc3cpp</string>
	<key>API_KEY</key>
	<string>AIzaSyAnUSalf0U-XjydKpyfAiK8EAX7MUEDurY</string>
	<key>GCM_SENDER_ID</key>
	<string>113912878363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circlecidemo</string>
	<key>PROJECT_ID</key>
	<string>reactnativepushnotificat-a19ab</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativepushnotificat-a19ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113912878363:ios:da47cdba30d256db</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativepushnotificat-a19ab.firebaseio.com</string>
</dict>
</plist>