<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465235832901-memvinc1i58fi40tcfmanh6mnt07jmi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465235832901-memvinc1i58fi40tcfmanh6mnt07jmi4</string>
	<key>API_KEY</key>
	<string>AIzaSyD25kOjEe_M7zitEBB0ur0zvv4UCC5jUcA</string>
	<key>GCM_SENDER_ID</key>
	<string>465235832901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circlecidemo</string>
	<key>PROJECT_ID</key>
	<string>reactnativefirstpush</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativefirstpush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465235832901:ios:da47cdba30d256db</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativefirstpush.firebaseio.com</string>
</dict>
</plist>